.sdk-chat-page {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .ticket_info {
    background: #fff;
    line-height: 50px;
    overflow: hidden;
    height: 50px;
    padding: 0;
  }

  .ticket_info .content_padding {
    padding: 0;
  }

  .ticket_info .info_item {
    margin: 0;
  }

  .wrapper_info_content > span {
    display: inline-block;
    padding: 0 10px 0 10px;
    &:last-child {
      border-right: none;
    }
    small {
      display: inline-block;
      margin-right: 5px;
    }
    .more_info {
      background: var(--dark);
      border-left: solid 1px #eae7e3;
      cursor: pointer;
      color: #fff;
      padding: 0 20px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .wrapper_info_content {
    padding: 0 10px;
    .ticket-name {
      max-width: 60%;
      @media screen and (min-width: 992px) {
        max-width: 80%;
      }
    }
    .ticket-status {
      max-width: 40%;
      @media screen and (min-width: 992px) {
        max-width: 15%;
      }
    }
  }

  .on_progress {
    color: $crm;
  }

  .nav_header {
    background: #f3f1ed;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    padding: 0;
    .content_padding {
      padding: 0 20px;
    }
    ul {
      margin: 0;
      padding-left: 0;
      list-style: none;
      overflow: hidden;
      li {
        cursor: pointer;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin-right: 20px;
      }
      li.active {
        border-bottom: solid 4px $brand;
      }
    }
  }

  .content_padding {
    padding: 20px;
  }

  .profile_content .page_content {
    margin: 50px 0 0 0;
  }

  body.helpdesk_content .page_content {
    margin-bottom: 150px;
    @media screen and (min-width: 768px) {
      margin-bottom: 100px;
    }
    @media screen and (min-width: 992px) {
      margin-bottom: 50px;
    }
  }

  .wrapper_box {
    margin-bottom: 20px;
  }

  .box_bg_white {
    background: #fff !important;
    border-radius: 0;
    overflow: hidden;
    word-break: break-word;
  }

  /****** tables ******/
  .item_label {
    margin-bottom: 10px;
    min-width: auto;
    width: 100%;
    @media screen and (min-width: 992px) {
      min-width: 250px;
      width: auto;
    }
  }

  .table_style + .table_style {
    margin-top: 20px;
  }
}
