.sdk {
  .nav_img {
    margin: -2px 22px 0 -5px;
    width: 30px !important;
  }

  .wrapper_img_profil {
    display: block;
    height: 100px;
    position: relative;
    width: 100px;
  }

  .img_cover {
    background: $img-cover-color;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    width: 100%;
  }
}
