@import "./variables.scss";
@import "./tickets-widgets.scss";
@import "./ticket-list-widget.scss";
@import "./chat-page.scss";

.sdk {
  .box {
    padding: $box-padding;
    position: relative;
  }

  a.box {
    color: var(--dark, #495054) !important;
  }

  .space_box {
    padding: $space-box-padding !important;
  }

  .text_center {
    text-align: center;
  }

  .brand_bg {
    background: var(--bs-primary, grey);
    color: $white;
  }

  .radius {
    border-radius: 0;
    overflow: hidden;
  }

  .h-100 {
    height: 100% !important;
  }

  .equal_target {
    height: 100%;
  }

  .pointer,
  .cursor-pointer {
    cursor: pointer;
  }

  .brand_color {
    color: var(--bs-primary, grey) !important;
  }

  .box_bg_white {
    background: $white !important;
    border-radius: 0;
    overflow: hidden;
    word-break: break-word;
  }

  .equal_target {
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: var(--bs-font-sans-serif);
  }

  h1,
  .h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
  }

  .m_auto {
    margin-left: auto;
    margin-right: auto;
  }

  .tooltip-container {
    position: relative;
    .tooltip {
      cursor: pointer;
      display: flex;
      justify-content: end;
      position: absolute;
      right: $tooltip-right;
      top: $tooltip-top;
      font-size: $tooltip-font-size;
      .tooltip-icon {
        background-color: $white;
        &.disabled {
          background-color: $gray-200;
        }
      }
    }
  }
  [data-title]:hover:after {
    content: attr(data-title);
    background-color: $dark;
    bottom: 135%;
    color: #fff;
    display: block;
    padding: 1px 8px 5px 8px;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 220px;
  }
  [data-title]:hover:before {
    background-color: $dark;
    border-bottom: solid 1px $dark;
    border-right: solid 1px $dark;
    bottom: 110%;
    content: "";
    height: 10px;
    position: absolute;
    right: 2px;
    transform: rotate(45deg);
    width: 10px;
    z-index: 99999;
  }

  .form-control {
    display: block;
    appearance: auto;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border: $input-border-width solid $input-border-color;
  }

  .flex_auto {
    width: auto;
    @media screen and (min-width: $xl-screen) {
      flex: auto;
      padding: 0 0 0 20px;
    }
  }

  .flex_grid {
    display: block;
    @media screen and (min-width: $xl-screen) {
      display: flex;
      > div {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  //spacing
  .pb-2 {
    padding-bottom: $space-2 !important;
  }

  .pr-2 {
    padding-right: $space-2 !important;
  }

  .mr-lg-2 {
    @media screen and (min-width: $xl-screen) {
      margin-right: $space-2 !important;
    }
  }

  .relative {
    position: relative;
  }

  /***** button primary *****/
  .btn-primary {
    background: $brand !important;
    border: solid 1px $brand !important;
    border-radius: 5px;
    color: #fff !important;
    margin-bottom: 0;
    &:hover,
    &:focus,
    &:active {
      background: $brand !important;
      border: solid 1px $brand !important;
      color: #fff !important;
    }
    &:not(:disabled):not(.disabled):active:focus,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgb(227 94 59 / 50%);
    }
  }

  /****** button secondary ******/
  .btn-secondary {
    border: solid 1px $dark !important;
    background: none !important;
    border-radius: 5px;
    color: $dark !important;
    margin-bottom: 0;
    &:hover,
    &:focus,
    &:active {
      border: solid 1px $dark !important;
      background: none !important;
      color: $dark !important;
    }
    &:not(:disabled):not(.disabled):active:focus,
    &:focus {
      box-shadow: 0 0 0 0.2rem rgb(73 80 84 / 50%);
    }
  }
}
