@import "./tickets-widgets.scss";

.sdk-widget {
  .block {
    display: block;
  }

  .box {
    padding: 20px;
    position: relative;
  }

  a.box {
    color: var(--dark, #495054);
  }

  .space_box {
    padding: 10px !important;
  }

  .text_center {
    text-align: center;
  }

  .brand_bg {
    background: var(--bs-primary, grey);
    color: #fff;
  }

  .radius {
    border-radius: 0;
    overflow: hidden;
  }

  .h-100 {
    height: 100% !important;
  }

  .equal_target {
    height: 100%;
  }

  .pointer,
  .cursor-pointer {
    cursor: pointer;
  }

  .brand_color {
    color: var(--bs-primary, grey) !important;
  }

  .box_bg_white {
    background: #fff !important;
    border-radius: 0;
    overflow: hidden;
    word-break: break-word;
  }

  .equal_target {
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: var(--bs-font-sans-serif);
  }

  h1,
  .h1 {
    font-size: 36px;
    line-height: 1.3;
  }

  .m_auto {
    margin-left: auto;
    margin-right: auto;
  }
}
