.sdk {
  .dropdown {
    float: left;
    height: 100%;
    text-align: left;
    width: 100%;
    z-index: 100;
    .doc-type-btn {
      background-color: $profil-btn-bg;
      padding-right: 5.5rem;
      text-align: left;
      width: 100%;
      &:hover,
      &:focus {
        box-shadow: none;
      }
      @media screen and (min-width: $breakpoint-lg) {
        float: right;
        padding-right: 20px;
        text-align: right;
      }
      i {
        padding-left: 0.5rem;
        top: 50%;
        @media screen and (min-width: $breakpoint-lg) {
          line-height: 3;
          position: absolute;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  .profil {
    cursor: pointer;
    display: block;
    height: 60px;
    line-height: 20px;
    padding: 10px 0 0 70px;
    user-select: none;
  }
  .profil_btn {
    background: $profil-btn-bg;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    height: 60px;
    position: fixed;
    top: 5px;
    width: 60px;
    @media screen and (min-width: $breakpoint-lg) {
      border-radius: 0;
      top: 0;
      width: 270px;
    }
    .btn.dropdown-toggle {
      padding-right: 20px;
      background: transparent;
      padding: 0;
      text-align: left;
      &::after {
        display: none;
      }
      &:focus,
      &:hover {
        box-shadow: none;
        outline: 0;
        .profil_img {
          background-color: $profil-btn-bg;
        }
      }
    }
    .dropdown-menu {
      box-shadow: 3px 5px 5px 0 rgb(0, 0, 0, 0.3);
      border: 1px solid $gray-300;
      margin-top: 4px;
      padding: 0;
      position: fixed;
      top: auto;
      width: 100%;
      @media screen and (min-width: $breakpoint-sm) {
        min-width: 300px;
        position: absolute;
      }
      @media screen and (min-width: $breakpoint-lg) {
        margin: 0;
        width: 100%;
      }
      .dropdown-item {
        background-color: $profil-btn-bg;
        padding: 0;
        &:hover,
        &:focus {
          background: transparent;
        }
        a {
          color: $dark;
          display: block;
          padding: 1rem 1.3rem;
          &:hover,
          &:focus {
            background-color: $profil-btn-bg;
          }
        }
      }
      .dropdown-item.divider {
        border-top: 1px solid $profil-btn-bg;
        margin: 0.5rem 0;
      }
    }
    .show {
      display: block;
      transform: translateY(0px);
    }
  }
  .profil_img {
    background: $profil-btn-bg;
    margin: 0;
    border-radius: 5px;
    float: left;
    height: 60px;
    opacity: 1;
    position: relative;
    width: 60px;
    z-index: 40;
    @media screen and (min-width: $breakpoint-lg) {
      background: $profil-btn-bg;
      border-radius: 0;
    }
  }
  .profil_img_2 {
    background: $profil-btn-bg;
    height: 80px;
    margin-bottom: 40px;
    width: 80px;
  }

  .profil_btn .dropdown-toggle.btn-secondary {
    border: none !important;
    text-transform: none;
  }

  .profil_btn .dropdown-menu {
    height: auto;
    hr {
      margin: 0;
    }
  }

  .dots {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: calc($breakpoint-lg - 1px)) {
    .not_desktop {
      display: inherit !important;
    }
    .not_mobile {
      display: none !important;
    }
  }
}

.sdk-profil {
  .page_content {
    margin: 50px 0;
  }
}
