// --------------------------------------------------------- //
// scrivito - colors
// --------------------------------------------------------- //

$scrivito_blue: #426698;
$scrivito_green: #658b51;
$scrivito_red: #c04e4e;
$scrivito_orange: #ff9f00;
$scrivito_yellow: #f0d914;

$scrivito_lightblue: #00addf;
$scrivito_turquoise: #0db2a0;

$scrivito_grey: #666;

// --------------------------------------------------------- //
// mixins
// --------------------------------------------------------- //

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
  -moz-box-sizing: $boxmodel;
  box-sizing: $boxmodel;
}

// ---- scrivito_obj_sorting_sortable  ------------------------------------ //

#scrivito_obj_sorting_sortable {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#scrivito_obj_sorting_sortable li,
.obj_sorting_item {
  display: block;
  margin: 4px 0;
  padding: 5px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  opacity: 1;
}
#scrivito_obj_sorting_sortable li:hover,
.obj_sorting_item:hover {
  cursor: move;
}
#scrivito_obj_sorting_sortable li:before,
.obj_sorting_item:before {
  font-family: 'scrivito_iconsregular';
  font-style: normal;
  font-weight: normal;
  vertical-align: middle;
  display: inline-block;
  padding: 0 5px 0 0;
  font-size: 16px;
  color: #999;
  content: '\F03c';
}
.obj_sorting_item {
  opacity: 0.7;
  z-index: 111111111;
}

.scrivito_hidden {
  display: none;
}
