.sdk {
  .pb-2 {
    padding-bottom: $space-2 !important;
  }

  .pr-2 {
    padding-right: $space-2 !important;
  }

  .mr-lg-2 {
    @media screen and (min-width: $breakpoint-lg) {
      margin-right: $space-2 !important;
    }
  }

  .mr-2,
  .mx-2 {
    margin-right: $space-2 !important;
  }

  .mr-3,
  .mx-3 {
    margin-right: $space-3 !important;
  }

  .ml-4 {
    margin-left: $space-4 !important;
  }

  .mb-4,
  .my-4 {
    margin-bottom: $space-4 !important;
  }

  .w-100 {
    width: 100% !important;
  }

  .max_width_element {
    margin: auto;
    max-width: $max-width;
  }

  .reset-mb {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}
